In [1]:
import pandas as pd

In [6]:
go=pd.read_table("./gordon-2002_database.txt",header=,index_col=0)

In [18]:
go.index = ["type"]+go.index[1:].tolist()

In [19]:
go.head()

,meso42,meso51,meso2,meso82,meso212,meso74,meso67,meso57,meso167,meso33,...,CL2001032149AA,CL2001032301AA,CL2001032307AA,CL2001032040AA,CL2001032842AA,CL2001032259AA,CL2001031611AA,CL2001032155AA,CL2001032039AA,CL2001031612AA
type,MPM,MPM,MPM,MPM,MPM,MPM,MPM,MPM,MPM,MPM,...,AD,AD,AD,AD,AD,AD,AD,AD,AD,AD
1006_at,10,71,11.3,24.6,22.8,10,19.3,20.7,17.7,10,...,21.8,73.7,42.7,32.5,53.7,24.3,37.2,17.5,47.8,47.1
1014_at,82,133.9,60.7,85.1,49.9,108.2,74.2,38.4,75.1,69.8,...,36.3,10,51.7,34.9,21.9,46.3,10,54.2,10,61.2
1042_at,1481.1,82.6,796.8,13.5,561.8,1209.3,1102.5,1895.5,1095.8,3114.3,...,52.8,122.3,35,294.6,14.3,25.1,155.4,68.7,10,45.7
1047_s_at,220.3,74.5,298.3,26.6,85.9,40.3,196.8,228,112.7,260.4,...,171.8,10,88.1,43,10,141,87.5,28,29.8,42.8